    <form>
        <div class="form-group">
          <label>User Name</label>
          <input type="text" class="form-control input-lg" placeholder="Username" ng-model="username" required>
        </div>
    </form>

    <button ng-hide='editing' type="submit" class="btn btn-primary btn-md centered" ng-click="addUser()">Add User</button>

    <button ng-hide='editing' type="submit" class="btn btn-primary btn-md centered" ng-click="getUsers()">Get Users</button>

   </div>
        <div class="container">
      <div ng-view></div>
    </div>
    <div>
      <h3>Users</h3>
      <ul ng-repeat="user in userData">
        <h4>Pirate</h4>
        <li><a href="#/user" ng-click="getSingleUser()">{{user.name}}</a></li>
          <ul ng-repeat="ship in user.ships">
            <h4>Ships</h4>
             <li>{{ship.name}}</li>
             <li>{{ship.mission}}</li>
          </ul>
      </ul>
    </div>
