    <form>
      <div class="form-group">
        <label>Ship Name</label>
        <input type="text" class="form-control input-lg" placeholder="ship name" ng-model="name" required>
      </div>
      <div class="form-group">
        <label>Missions</label>
        <input type="text" class="form-control input-lg" placeholder="missions" ng-model="missions" required>
      </div>
    </form>

    <button ng-hide='editing' type="submit" class="btn btn-primary btn-md centered" ng-click="addShip()">Add Ship</button>
